input, p {
    width: 15%;
    position: absolute;
    height: 5%;
    margin-left: 42.5%;
    font-size: 200%;
}

input {
    background-color: rgb(194, 193, 212);
}

#login {
    margin-top: 8%;
}

#password {
    margin-top: 16%;
}

#password2 {
    margin-top: 24%;
}

#mail {
    margin-top: 32%;
}

#lgtxt {
    margin-top: 5%;
}

#lgps {
    margin-top: 13%;
}

#lgps2 {
    margin-top: 21%;
}

#lgml {
    margin-top: 29%;
}

p {
    text-align: center;
    font-size: 300%;
}

#button {
    margin-top: 37%;
    background-color: rgb(47, 5, 199);
}

#button:hover {
    background-color: rgb(78, 26, 74);
    color:rgb(206, 194, 32);
}

h2:hover {
    color:rgb(88, 67, 21);
}

div {
    width: 4%;
}