* {
    margin: 0;
    color:rgb(139, 155, 201);
    text-decoration: none;
}

html {
    background-image: url('Pictures/nebula.jpg');
    background-size: 100%;
}

header {
    padding-top: 1%;
    margin: 1%;
    position: absolute;
    width: 98%;
    height: 12%;
    background-color: rgb(17, 29, 97);
    font-size: 400%;
    text-align: center;
}

.main {
    margin-left: 2%;
    margin-right: 2%;
}

.main:hover {
    color:rgb(206, 194, 32);
}